nav {
    position: fixed;
    width: 100%;
    color: #FFFFFF;
    background-color: #cc8800;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Bungee', sans-serif;
    top: 0;
}
span {
    margin: 1.5em;
}
.right {
    display: flex;
    flex-direction: column;
}
h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    margin: 1.5em;
    margin-bottom: 0;
}
.arrow {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: red;

}

/*from: https://css-tricks.com/making-css-animations-feel-natural/ */
.right:hover > .arrow {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease-in-out;
}
@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(10px); }
    100% { transform: translateY(0); }
}