#error-box{
    display: none;
    justify-content: center;
    border: red;
    color: red;
    border-style: solid;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

main {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

label {
    display: flex;
    justify-content: flex-start;
}

textarea {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  width: 100%;
  /* box-sizing: border-box; */
   border: none;
  border-bottom: 4px solid rgb(0, 0, 0);
}

.foot {
    display: flex;
    justify-content: space-between;
    font-family: 'Bungee', sans-serif;
}

button {
    color: cornsilk;
    background-color: #4056A1;
}

/* when you go over 140 char */
.newColour {
    color: red;
}

/* at 140 char */
.rainbow{
    animation:rainbow 1.5s infinite;
}
@keyframes rainbow{
    0%{     color: red;    }
    20%{    color: orange; }
    40%{    color: yellow; }
    60%{    color: green;  }
    80%{    color: blue;   }
    100%{   color: purple; }
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}