#tweet-container {
    display: flex;
    flex-direction: column-reverse;
}

article {
    border: black;
    border-style: solid;
    padding: 10px;
    
}

#tweet-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.left-header {
    display: flex;
    flex-direction: row;
}

.left-header img {
    height: 70%;
    width: 25%;
}

.left-header p {

}

#handle {
    display: none;
}

article q {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: none;
    border-bottom: 4px solid rgb(0, 0, 0);
}

article footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article:hover {
    box-shadow: 10px 10px black;
}

article:hover #handle{
    display: block;
}